
<div style="padding-top:2em">
<table border="1">
  <tr>
    <th>User Name</th>
    <th>Email</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Created at</th>
    <th>Updated at</th>
    <th>Delete</th>
  </tr>
 <%    logger.info"#{@users.inspect}dddddddddddddddddddddddddddddddddddd"
%>
<% @users.reverse.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.firstname %></td>
    <td><%= user.lastname %></td>
    <td><%= user.created_at.to_date %></td>
    <td><%= user.updated_at.to_date %></td>
    <% link_to 'Edit', edit_user_path(user) %>
   <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<br />

<%= form_for  (@user)  do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="container">
  <div class="span5">
  <div class="field">
    <%= f.label :User_name %><br />
    <%= f.text_field :name %>
  </div>

 <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
</div>
<div class="span5">
    <div class="field">
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </div>

    <div class="field">
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </div>
</div>
</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>