<%= form_tag('/search') do -%>
  <%= select_tag :s, options_for_select(@users.collect{|p| p.name}), :onchange => "this.form.submit();" %>
<% end -%>
<br>
<%unless (@name.nil?)%>
  <table border="1">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Firstname</th>
      <th>Lastname</th>    
      <th>Created at</th>
      <th>Updated at</th>
    </tr>   
      <td><%= @name.name %></td>
      <td><%= @name.email %></td>
      <td><%= @name.firstname %></td>
      <td><%= @name.lastname %></td>

      <td><%= @name.created_at.to_date %></td>
      <td><%= @name.updated_at.to_date %></td>
     </tr>
   </table>
  <br />
<%end%>


# Reference

<%#= form_tag order_history_path,:remote => true, :method => 'get' do %>
				<!--<select id="my" name="sort_by" onchange="$(this).parent('form').submit();" >-->
				<!--  <option value="order_new_to_old">Order Date (newest to oldest)</option>-->
				<!--  <option value="sending_new_to_old">Sending Date (newest to oldest)</option>-->
				<!--  <option value="order_old_to_new">Order Date (oldest to newest)</option>-->
				<!--  <option value="sending_old_to_new">Sending Date (oldest to newest)</option>				  			 -->
				<!--</select>-->
  <%#= select_tag :sort_by, options_for_select(@type.collect{|p| p}),
  onchange: "$(this).parent('form').submit();"%>
<%# end -%>






