<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Hi" %></title>
    <%= csrf_meta_tags %>

 
    <%= stylesheet_link_tag "application", :media => "all" %>
 
    <%= javascript_include_tag "application" %>
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">New</a>
          <div class="container nav-collapse">
            <ul class="nav">
            </ul>
              <li class="btn btn-danger"><%= link_to "A2", "/search"  %></li>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
        <div class="row">
          <div class="span9">
            <%= bootstrap_flash %>
            <%= yield %>
          </div>
        </div><!--/row-->

  

    </div> <!-- /container -->
    <footer class="text-center">
        <p>&copy; Company 2014</p>
      </footer>
  </body>
</html>
